.wrapper {
  max-width: 1000px;
}

.text-calculate {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.invisible-wrapper {
  visibility: hidden;
  position: absolute;
}
